[submodule "_lib/openocd-build-script-static"]
	path = _lib/openocd-build-script-static
	url = git@github.com:facchinm/openocd-build-script-static.git
[submodule "_lib/openocd-code"]
	path = _lib/openocd-code
	url = git://git.code.sf.net/p/openocd/code
[submodule "_lib/eudev"]
	path = _lib/eudev
	url = git@github.com:gentoo/eudev.git
[submodule "_lib/hidapi"]
	path = _lib/hidapi
	url = git@github.com:signal11/hidapi.git
[submodule "_lib/libusb"]
	path = _lib/libusb
	url = git@github.com:libusb/libusb.git
[submodule "_lib/libusb-compat-0.1_git"]
	path = _lib/libusb-compat-0.1_git
	url = git@github.com:libusb/libusb-compat-0.1.git
[submodule "_lib/ubiquitous_bash"]
	path = _lib/ubiquitous_bash
	url = git@github.com:mirage335/ubiquitous_bash.git
	shallow = true
